/*@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');*/
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
/*@import url('../fonts/Sansita/Sansita-Bold.ttf');
@import url('../fonts/Volkhov/Volkhov-Bold.ttf')*/

@font-face {
    font-family: "Sansita";
    src: url(../fonts//Sansita//Sansita-Regular.ttf);
}

@font-face {
    font-family: "Volkhov";
    src: url(../fonts//Volkhov//Volkhov-BoldItalic.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts//Open_Sans//OpenSans-Light.ttf);
}


@font-face {
    font-family: "OpenSansB";
    src: url(../fonts//Open_Sans//OpenSans-Regular.ttf);
}

body {
    padding-top: 100px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

a,
label{
    font-family: "OpenSans",Georgia, serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: rgb(107, 107, 107) !important;
    padding: 0;
}

.inline-block{
    display:inline-block;
}
/* Carousel */

.carousel-caption{
    font-size: 60px;
    line-height: 1.4;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

@media  (max-width: 1024px) {

    .navbar-header{
        height: 90px;
        padding-top: 6px;
    }

    .reservation-form h2 {
        display: none !important;
    }

    .reservation-form h3 {
        display: none !important;
    }


    .reservation-form{
        position: relative !important;
        margin-top: 40px;
    }

    .home-page{
        margin-top: 0 !important;
    }

    .res-page{
        margin-top: 0 !important;
    }
 
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*------------------------------------------------------------------------------*/


#login-dp{
    min-width: 280px;
    padding: 30px 20px 0;
    border-radius: 4px 4px;
    border-radius: 4px 4px;
    -moz-border-radius: 4px 4px;
    -o-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    font-weight: normal !important;
    color: #fff !important;
    background-color:#3b5998;
}
.btn-fb:hover{
    background-color:#496ebc 
}
.btn-tw{
    font-weight: normal !important;
    color: #fff !important;
    background-color:#55acee;
}

input[name="daterange"]{
    width: 160px;
}

.btn-tw:hover{
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*------------------------------------------------------------------------------*/

.navbar{
    
    border-bottom: 5px solid #D0B877;
}

.navbar-brand {
    padding: 0px;
    margin-right: 30px;
}

.navbar-default {
    background:rgba(255,255,255,1);
    -webkit-box-shadow: 0 2px 8px 2px rgba(0,0,0,0.1);
    -moz-box-shadow:  0 2px 8px 2px rgba(0,0,0,0.1);
    box-shadow:  0 2px 8px 2px rgba(0,0,0,0.1);
}

.avatar-padding{
    margin: 14px;
}

.navbar-nav > li > a {
    font-size:small;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 20px;
    font-weight:600;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #e9ebee;
}

.navbar-collapse {
    font-size: large;
}

.row-offset-1 {
    margin-top: 80px;
}

.clear-margin{
    margin:0 !important;
}

.clear-padding{
    padding:0 !important;
}

.margin-offset-1 {
    margin-top: 10px;
}

.margin-offset-2 {
    margin-top: 20px;
}

.margin-offset-3 {
    margin-top: 30px;
}

.margin-offset-4 {
    margin-top: 40px;
}

.jstyle{
    /*font-family: 'Cantata One', serif;*/
    color: #FFF !important;
    height: 300px;
    margin: 0;
    border-radius: 0 !important;
}

.j-reservation{
    height: 500px;
    background-position: center;
    background-image: url('../images/home/big-ben2.jpg');
    background-repeat:no-repeat;
    --padding-top: 360px !important;
}

.j-reservation h2 {
    color: #FFF;
    padding: 40px 60px 0 60px;
}


.j-reservation h3 {
    font-size: 30px;
    font-family: "OpenSans",Georgia, serif;
    color: #FFF;
    text-shadow: 4px 4px 10px rgb(75, 75, 75);
    padding: 0 60px;
}

.j-suites{
    background-image: url('../images/home/Bangkok-Suites-Studio-1200-thin.jpg');
    background-repeat:no-repeat;
}

.j-meetings{

    background-image: url('../images/home/river_room.jpg');
    background-repeat:no-repeat;
}

.j-loyality{

    background-image: url('../images/home/the-hot-list-couples-article-hero-desktop.jpg');
    background-repeat:no-repeat;
}

.jumbotron{
    border-radius: 0 !important;
}

.jumbotron h2 {
    /*margin-top: 20px;
    font-size: 50px;*/
    text-shadow: 4px 4px 10px rgb(75, 75, 75);
}

.reservation-bar{
    color: rgb(60, 60, 60);
    background: rgba(230, 230, 230, 0.9);
    border-top: 0px solid rgba(189, 189, 189, 0.8);
    padding: 20px 30px;
    width: 100%;
    display: block;
}

.reservation-bar .form-group{
    display: inline-block;
    margin: 0 25px 0 0;
}

.banner-wrapper{
    position: relative;
    width: 100%;
}

#mycarousal{
    position: relative;
}

.reservation-form{
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
}

.home-page{
    margin-top: 260px;
}

.res-page{
    margin-top: 240px;
}

.reservation-form h2{
    color: #FFF;
    padding: 40px 60px 0 60px;
    text-shadow: 0px 0px 10px rgb(75, 75, 75);
}

.reservation-form h3{
    color: #FFF;
    padding: 0 60px;
    text-shadow: 0px 0px 10px rgb(75, 75, 75);
}

.card{
    --margin: 10px;
    --background: #2b2b2b;
    height: 560px;
}

.card > .lead{
    height: 100px;
}

/* .card > .btn{
} */


.featurette-image{
    margin-top: 20px;
}

#feature {
    background: #c0abab;
    padding-bottom: 40px;
}

#room-overview{
    margin:0 !important;
}

#room-overview .thumbnail{
    margin: 2px 2px !important;
    cursor: pointer;
}

#room-overview > .close{
    line-height: -1 !important;
}

#room-overview h3{
    font-size: 30px;
    font-weight: bold;
    color: rgb(94, 94, 94);
    font-family: "OpenSans",Georgia, serif;
}

#room-overview .lead{
    font-size: 18px;
    font-family: "OpenSansB",Georgia, serif !important;
    margin: 0;
    color: rgb(150, 150, 150);
}

#room-overview button{
    font-size: 12px;
    margin: 0 4px 0 0;
}

#room-overview a:hover{
    text-decoration: #3b5998 !important;
}

p.para{
    font-size: 20px;
    font-family: "OpenSans",Georgia, serif !important;
    margin: 20px 0 20px 0;
    color: rgb(60, 60, 60) !important;
}

p.para-b{
    font-size: 18px;
    font-family: "OpenSansB",Georgia, serif !important;
    margin: 20px 0 20px 0;
    color: rgb(150, 150, 150);
}


p.lead{
    font-size: 18px;
    font-family: "OpenSansB",Georgia, serif !important;
    margin: 20px 0 20px 0;
    color: rgb(150, 150, 150);
}

h1{
    font-size: 40px;
    color: rgb(75, 75, 75);
    font-family: "Volkhov",Georgia, serif
}

h2{
    font-size: 40px;
    color: rgb(75, 75, 75);
    font-family: "Sansita",Georgia, serif
}

h3{
    font-size: 30px;
    color: rgb(94, 94, 94);
    font-family: "OpenSans",Georgia, serif;
}

h3.para{
    font-size: 20px;
    font-family: "OpenSans",Georgia, serif;
    margin: 20px 0 20px 0;
    color: #496ebc !important;
}

/* .text-danger{
    color:rgb(219, 32, 32) !important;
} */

.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#f2f2f2;
  box-shadow: none;
  max-width: none !important;
}

.btn-submit{
    color: #fff !important;
    font-weight: 600;
    background-color: #D0B877 !important;
    border-color: #e0b244;
}

.btn-submit:hover{
    color:#a48334 !important;
    background-color: #D0B877 !important;
    border-color: #a48334;
}

.golden-banner{
    margin: 40px 0 40px 0;
    padding: 30px;
    background-color: #D0B877 !important;
}

.golden-banner > h3{
    color: #fff;
}

.goldenbreak-2px{
    border-top: 2px solid #D0B877;
}

.goldenbreak-5px{
    margin: 0;
    border-top: 5px solid #D0B877;
}

/*.jumbotron input{
    max-width: 130px;
}*/


/*

Tables & Styles

*/

table tr{
    cursor: pointer;
}


/***--------------------------------------------------------------*/

/*logos and icons*/

.calender-icon {
    background-image: url('../images/home/calender-icon.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

    .block {
        margin: 20px 0 40px 0;
        padding: 0;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .block-active{
        border: 1px solid #bce8f1 !important;
    }

    .block-cancelled{
        border: 1px solid #f2dede !important;
    }

    .block .header {
        padding: 2px;
        background-color: rgb(232, 232, 232);
    }

    .block .header-active{
        color: #31708f;
        background-color: #d9edf7 !important;
    }

    .block .header-cancelled{
        color: #a94442;
        background-color: #f2dede !important;
    }

    .block .body {
        padding: 20px;
    }


.label-1 {
    font-size: 18px;
    font-family: "OpenSansB",Georgia, serif !important;
    margin: 0px 0 0px 0;
    color: rgb(60, 60, 60);
}



.label-1-sub {
    font-size: 18px;
    font-family: "OpenSansB",Georgia, serif !important;
    margin: 0px 0 0px 0;
    color: rgb(150, 150, 150);
}

.text-left{
    text-align:left !important;
}

span.validation{
    color : rgb(238, 91, 91) !important;
}